* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* TO use Box Model  */
  }
  
  body {
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
  }
  
  .container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 100px;
  }
  
  .navbar__brand {
    width: 100px;
  }
  
  .navbar__logo {
    width: 100%;
  }
  
  .nav__item:hover {
    border: 2px solid pink;  
  }
  
  .hero__image__container {
    width: 100%;
    position: relative;
    /* top: -50px;*/
  }

  .hero__image {
    width: 100%;
    margin: 40px 0px;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .hero__image__svg__1, .hero__image__svg__2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
  }
  
  .hero__text {
    font-size: 30px;
    margin: 20px 0px;
    color: #1d3557;
  }

  .button__primary{
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    cursor: pointer;
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    padding: 0px 10px;
  }

  .btn , .btn2{
    line-height: 30px;
    height: 30px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    padding: 2px;
    top:5px;
  }

  .btn3 {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    padding: 2px;
    top: -10px;
  }

  .trans__button {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  .trans__button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .trans__button:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .trans__button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .trans__button:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  
  .explore__menu__text {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    color: #1d3557;
  }
  
  .food__card {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .food__card__image__container {
    width: 100%;
  }
  
  .food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .food__card__description {
    padding: 15px;
  }

  #view__more{
    color: #1d3557;
  }
  
  /* Flexxxxxx */
  .restaurant__text {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: left;
    color: #1d3557;
  }

  .restaurant__container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }

  .restaurant__images__container {
    width: 100%;
  }
  
  .restaurant__images__row__one,
  .restaurant__images__row__two {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
  .restaurant__images__row__one {
    align-items: baseline;
    margin-bottom: 5px;
  }
  
  .restaurant__image__1,
  .restaurant__image__4 {
    width: 200px;
    height: 120px;
  }
  
  .restaurant__image__2,
  .restaurant__image__3 {
    width: 260px;
    height: 160px;
  }
  
  .restaurant__1,
  .restaurant__2,
  .restaurant__3,
  .restaurant__4 {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }


  .update__container{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
  }

  .update__inputbox{
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .update__text{
    font-size: 30px;
    color: #1d3557;
    margin-bottom: 25px;
  }

  .update__inputbox__email{
    font:bold;
    font-size: 15px;
    padding: 1px 10px;
    text-align: left;
    color: #1d3557;
    width: 70%;
    height: 40px;
    background-color: rgb(250, 232, 234);
  }

  .quote__image{
    width: 100%;
  }

  .quote__container{
    margin-top: 100px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    opacity: 60%;
    margin-bottom: 100px;
    background: url(./assets/restaurant4.jpg) center center / cover no-repeat;
  }

  .quote__text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .footer__container{
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
  }
  
  .footer__logo{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    width: 100px;
  }

  .footer__item__list{
    line-height: 1.5;
    list-style-type: none;
    font-size: large;
  }

  
  @media (min-width: 768px) {
    .container{
      max-width: 700px;
    }

    .navbar {
      justify-content: space-between;
      padding: 2px 30px;
    }
    .hero__container {
      margin-top: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 40px;
    }
  
    .explore__menu__lists {
      margin-top: 40px;
      display: flex;
      gap: 15px;
      padding: 0 30px;
    }
  
    #pizza__card {
      margin-top: -20px;
      margin-bottom: 30px;
    }
    .explore__menu__container {
      margin-top: 150px;
      margin-bottom: 200px;
    }
    .explore__menu__view__more {
      display: flex;
      justify-content: center;
    }
    .explore__menu__container {
      position: relative;
    }
    .explore__menu__gradient__bg {
      position: absolute;
      top: 0;
      left: 0;
  
      width: 100%;
      height: 100%;
  
      background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      transform: skewY(-5deg);
      z-index: -3;
    }

    #view__more{
      color: #fff;
    }

    .restaurant__container{
      display: flex;
      justify-content: center;
      gap:5px;
    }

    .restaurant__images__container{
      margin-top: -100px;
    }

    .restaurant__image__1,
    .restaurant__image__4 {
      width: 180px;
      height: 120px;
    }
  
    .restaurant__image__2,
    .restaurant__image__3 {
      width: 220px;
      height: 180px;
    }

    .btn {
      line-height: 40px;
      height: 40px;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      padding: 2px;
      top:8px;
    }
  
    .btn2 {
      line-height: 40px;
      height: 40px;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      padding: 2px;
      top: 8px;
    }
    .button__primary {
      height: 60px;
    }

    .update__inputbox__email{
      font:bold;
      font-size: 15px;
      padding: 1px 10px;
      text-align: left;
      color: #1d3557;
      width: 25%;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 25px;
      background-color: rgb(250, 232, 234);
    }

    .quote__container {
      height: 300px;
      width: 100%;
    }

    .quote__text{
      font-size: 30px;
    }

    .footer__logo{
      width: 300px;
    }

  }
  
  @media (min-width: 1020px) {
    .container {
      max-width: 900px;
    }
    .navbar__brand {
      width: 150px;
    }
    .btn {
      line-height: 45px;
      height: 45px;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      padding: 2px;
      top:5px;
    }
    .btn2 {
      line-height: 50px;
      height: 50px;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      padding: 2px;
      top:5px;
    }
    .button__primary {
      height: 60px;
    }
    
    .hero__text {
      font-size: 40px;
      margin: 100px 0px;
    }
    .explore__menu__lists {
      gap: 40px;
    }
    .explore__menu__text {
      font-size: 40px;
    }
    .restaurant__text {
      font-size: 40px;
    }
    .explore__menu__container{
      height: 550px;
      margin-bottom: 200px;
    }
    #view__more{
      color: #fff;
    }

    .restaurant__container{
      display: flex;
      justify-content: center;
      gap: 50px;
    }

    .restaurant__images__container{
      margin-top: -100px;
    }

    .update__text{
      font-size: 40px;
    }

    .update__inputbox__email{
      font:bold;
      font-size: 15px;
      padding: 1px 10px;
      text-align: left;
      color: #1d3557;
      width: 25%;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 25px;
      background-color: rgb(250, 232, 234);
    }

    .quote__text{
      font-size: 30px;
    }

    .footer__logo{
      width: 300px;
    }

  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1250px;
    }

    .hero__container {
      margin-top: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 40px;
      gap: 30px;
    }

    .hero__text {
      font-size: 50px;
    }

    .explore__menu__text {
      font-size: 50px;
    }

    .explore__menu__container{
      margin-bottom: 200px;
    }

    .restaurant__text {
      font-size: 50px;
    }

    .navbar {
      height: 70px;
      padding:0 50px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .navbar__brand {
      width: 100px;
    }
    
    .navbar__logo {
      width: 100%;
    }
    
    .nav__item {
      background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      color: #fff;
      border: none;
      padding: 14px 28px;
      border-radius: 4px;
      cursor: pointer;
      font: bold;
      font-size: 18px;
    }
    .explore__menu__container{
      height: 100%;
    }

    #view__more{
      color: #fff;
    }

    .restaurant__container{
      display: flex;
      justify-content: center;
      gap: 60px;
    }

    .restaurant__images__container{
      margin-top: -100px;
    }
    
    .restaurant__image__1,
    .restaurant__image__4 {
      width: 240px;
      height: 180px;
    }
  
    .restaurant__image__2,
    .restaurant__image__3 {
      width: 300px;
      height: 280px;
    }

    .button__primary{
      padding: 5px;
    }

    .btn {
      line-height: 40px;
      height: 40px;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      padding: 2px;
      top:2px;
    }
  
    .btn2 {
      line-height: 40px;
      height: 40px;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      padding: 2px;
      top: 4px;
    }

    .update__text{
      font-size: 40px;
    }

    .update__inputbox__email{
      font:bold;
      font-size: 15px;
      padding: 1px 10px;
      text-align: left;
      color: #1d3557;
      width: 25%;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 25px;
      background-color: rgb(250, 232, 234);
    }

    .quote__text{
      font-size: 30px;
    }

    .footer__logo{
      width: 300px;
    }

  }